@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/ysadmin/Views/Shared/_Layout.cshtml";
}

@section Style {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/npanel/vendor/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <link href="/npanel/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
}

<div class="card shadow mb-4">
    <!-- form start -->
    @using (Html.BeginForm("Edit", "Dj", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.Partial("ViewForm")
    }
    <!-- END FORM-->
</div>

@section Scripts {

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/npanel/vendor/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="/npanel/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js" type="text/javascript"></script>
    <script src="/npanel/vendor/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="/npanel/vendor/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="/npanel/pages/scripts/components-bootstrap-tagsinput.min.js" type="text/javascript"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/npanel/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editor");
    </script>
}

