@model ResultMessage
<!--begin::Alert-->

<div class="alert alert-@Model.Css alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>@Model.Title</strong>    @Model.Message
</div>

<!--end::Alert-->
