@model RadioApiViewListModel
<div class="container-fluid">
    <div class="row row--grid news-background">
        <!-- title -->
        <div class="col-6">
            <div class="main__title main__title--page">
                <h1>@Model.title</h1>
            </div>
        </div>
        <!-- end title -->
        <!-- breadcrumb -->
        <div class="col-6">
            <ul class="breadcrumb">
                <li class="breadcrumb__item"><a asp-controller="Home">Anasayfa</a></li>
                <li class="breadcrumb__item breadcrumb__item--active">@Model.title</li>
            </ul>
        </div>
        <!-- end breadcrumb -->

    </div>
    <div class="row row--grid">
        <div class="col-12">
            <div class="main__filter">
                <form action="#" class="main__filter-search">
                    <input type="text" placeholder="Search...">
                    <button type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z" /></svg></button>
                </form>

                <div class="main__filter-wrap">
                    @Html.DropDownListFor(model => model.RadioApiId, (IEnumerable<SelectListItem>)Model.RadiosApiSelectListItem, new { @class = "main__select" , @id="drp_radio" })
                </div>
            </div>

            <div class="row row--grid" id="ajax-main">
                @Html.Partial("_frequencylist")
            </div>

        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#drp_radio').change(function () {
            var selected = $(this).val();
            if (selected != 0) {
                $.ajax({
                    url: '/Frequency/FrequencyListAjax',
                    data: { page: $('#drp_radio option:selected').val() },
                    success: function (data) {
                        $("#ajax-main").empty();
                        if ($.trim(data) == '') {
                            $("#ajax-main").append("<div class='alert alert-danger' role='alert'> Listelenecek kayıt bulunamadı. </div >");
                        } else {
                            $("#ajax-main").append(data);
                        }

                    }
                });
            }            
        }); 
      
    </script>
}
