
@{
    ViewData["Title"] = "Create Category";
    Layout = "~/Areas/ysadmin/Views/Shared/_Layout.cshtml";
}
@section Style {

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/npanel/vendor/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Radyo Kategorileri</h6>
        <div class="btn-group pull-right">
            <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                İşlemler
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a asp-controller="Radio" asp-action="CreateCategory">
                        <i class="icon-bell"></i> Yeni Ekle
                    </a>
                </li>
                <li>
                    <a asp-controller="Radio" asp-action="IndexRadioCategory">
                        <i class="icon-shield"></i>Tümünü Listele
                    </a>
                </li>
              
                <li class="divider"> </li>
              
            </ul>
        </div>
    </div>
    <div class="card-body">
        <!-- form start -->
        @using (Html.BeginForm("CreateCategory", "Radio", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.Partial("ViewFormRadioCategory")
        }
    </div>
    <!-- END FORM-->
</div>


@section Scripts {

    <script>
        $(function () {
            // a tagimizde bulunan .view classımıza click olduğunda
            $("body").on("click", ".categorycreate", function () {
                //data-target dan url mizi al
                var url = $(this).data("target");
                //bu urlimizi post et
                $.get(url, function (data) { })
                    //eğer işlemimiz başarılı bir şekilde gerçekleşirse
                    .done(function (data) {
                        //gelen datayı .modal-body mizin içerise html olarak ekle
                        $("#modelCreate .modal-body").html(data);
                        $("#modelCreate").modal("show");

                    })
                    //eğer işlem başarısız olursa
                    .fail(function () {
                        //modalımızın bodysine Error! yaz
                        $("#modelCreate .modal-body").text("Error!!");
                        $("#modelCreate").modal("show");
                    })
            });

        })

    </script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/npanel/vendor/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <div class="modal" id="modelCreate" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">KAPAT</button>
                </div>
            </div>
        </div>
    </div>

}

