@model PasswordChangeViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Areas/ysadmin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Profil")
    </div>
    <div class="col-md-9">
        <div class="flex-row-fluid ml-lg-8">
            <form class="form" asp-controller="Profil" asp-action="ChangePassword" method="post">
                <div class="card card-custom">
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">Şifreni Değiştir</h3>
                            <span class="text-muted font-weight-bold font-size-sm mt-1">Hesap şifrenizi değiştirin</span>
                        </div>
                        <div class="card-toolbar">
                            <button type="submit" class="btn btn-success mr-2">Değiştir</button>
                            <button type="reset" class="btn btn-secondary">Vazgeç</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-center"></div>
                        <div class="form-group row">
                            <label asp-for="PasswordOld" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
                            <div class="col-lg-9 col-xl-6">
                                <input asp-for="PasswordOld" class="form-control form-control-lg form-control-solid mb-2"/>
                                <span asp-validation-for="PasswordOld" class="text-danger form-text"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PasswordNew" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
                            <div class="col-lg-9 col-xl-6">
                                <input asp-for="PasswordNew" class="form-control form-control-lg form-control-solid" />
                                <span asp-validation-for="PasswordNew" class="text-danger form-text"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="RePasswordNew" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
                            <div class="col-lg-9 col-xl-6">
                                <input asp-for="RePasswordNew" class="form-control form-control-lg form-control-solid" />
                                <span asp-validation-for="RePasswordNew" class="text-danger form-text"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>