
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/ysadmin/Views/Shared/_Layout.cshtml";
}

@section Style {

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/npanel/vendor/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Bannerlar</h6>
        <div class="btn-group pull-right">
            <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                İşlemler
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a asp-controller="Banner" asp-action="Create">
                        <i class="icon-bell"></i> Yeni Ekle
                    </a>
                </li>
                <li>
                    <a asp-controller="Banner" asp-action="Index">
                        <i class="icon-shield"></i>Tümünü Listele
                    </a>
                </li>

                <li class="divider"> </li>

            </ul>
        </div>
    </div>
    <div class="card-body">
        <!-- form start -->
        @using (Html.BeginForm("Create", "Banner", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.Partial("ViewForm")
        }
    </div>
    <!-- END FORM-->
</div>


@section Scripts {

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/npanel/vendor/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


   
}

