
@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Areas/ysadmin/Views/Shared/_Layout_Account.cshtml";
}

<div class="alert alert-warning">
    @if (TempData["message"] != null)
    {
        @TempData["message"]
    }
</div>

