@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Areas/ysadmin/Views/Shared/_Layout_Account.cshtml";
}

<!--begin::Forgot-->
<div class="login-form login-forgot">


    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2">
            <label asp-for="Email"></label>
         </h1>
        <p class="mb-4">
            Şifrenizi sıfırlamak için email giriniz.
        </p>
    </div>
    <form class="user" asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input class="form-control form-control-user" asp-for="Email" autocomplete="off" />
        </div>
        <div class="form-group d-flex flex-wrap pb-lg-0">
            <button type="submit" class="btn btn-primary btn-user btn-block">Şifremi Sıfırla</button>
            <a asp-action="Login" class="btn btn-warning btn-user btn-block">Vazgeç</a>
        </div>
    </form>
</div>
