@model RoleList
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h5 class="card-title"> @Model.Id.Substring(0, 5) ...</h5>
                <p class="card-text">@Model.Name</p>
            </div>
        </div>
    </div>


