@model BildirViewModel

<!-- main content -->
<div class="container-fluid">
    <div class="row row--grid">
        <!-- breadcrumb -->
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb__item"><a asp-controller="Home">Anasayfa</a></li>
                <li class="breadcrumb__item breadcrumb__item--active">@Model.title</li>

            </ul>
        </div>
        <!-- end breadcrumb -->
        <!-- title -->
        <div class="col-12">
            <div class="main__title main__title--page">
                <h1>@Model.title</h1>
            </div>
        </div>
        <!-- end title -->
    </div>


    <div class="row row--grid">
        <div class="col-lg-offset-2 col-12 col-lg-7 col-xl-8">
            @using (Html.BeginForm("Save", "Bildir", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "sign__form sign__form--contacts" }))
            {

<div class="row">
    <div class="col-12 col-md-6">
        <div class="sign__group">
            <input type="text" name="name" class="sign__input" placeholder="Adınız Soyadınız">
        </div>
    </div>


    <div class="col-12">
        <div class="sign__group">
            <textarea name="text" class="sign__textarea" placeholder="Hata Bilgileriniz."></textarea>
        </div>
    </div>

    <div class="col-12 col-xl-3">
        <button type="button" class="sign__btn">Gönder</button>
    </div>
</div>}


        </div>
    </div>
</div>